@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-family: "Montserrat", sans-serif;
    --fontoptical-sizing: auto;
    --font-style: normal;
    --bg-color: #000000;
    --primary-color: #9f1010;
    --secondary-color: #e4b011;
    --primary-shadow: #9f1010;
    --secondary-shadow: #9f1010;
    --bio-color: #9f1010;
    --bio-color-2: #ffffff;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1rem;
    --transition: 0.2s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-optical-sizing: var(--fontoptical-sizing);
    font-style: var(--font-style);
}

html{
    height: 100%;
    background-image: url('Imgs/circle-black-red-layers-paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior-x: none;
    scroll-behavior: smooth;
   
}

body{
    min-height: 100vh;
    background-image: url('Imgs/circle-black-red-layers-paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    overscroll-behavior-x: none;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    color: var(--secondary-color);
}


/* Start of nav section */
nav{
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-image: url("Imgs/Black-Red.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 3px 5px var(--secondary-shadow);
}

nav h1{
    color: var(--primary-color);
}

nav a{
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover{
    color: var(--secondary-color);
}

nav ul{
    margin-top: 1rem;
    display: flex;
    gap: 1.9rem;
}

/* End of nav section */

.burger-menu{
    margin-top: 1.5rem;
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Start of hero section */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img{
    width: 550px;
    height: 550px;
    margin-top: 2rem;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: glow 3s infinite alternate;
}

@keyframes glow{
    from{
        box-shadow: 0 0 20px rgba(255,0,0,0.4);
    }

    to{
       box-shadow: 0 0 50px rgba(255,0,0,0.8); 
    }
}

.bio{
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 20px 2px var(--primary-shadow);
}

.bio-title{
    color: var(--bio-color);
    display: inline-block;
    border-radius: 50px;
    margin-bottom: var(--bottom-margin);
}

.bio p{
    color: var(--bio-color-2);
    line-height: var(--line-height);
    padding: 0.5rem 0;
}

/* End of hero section */


/* Start of More about */
.more-about{
  margin: 2rem auto;
  padding: 1rem 7.5rem;
  max-width: 900px;
  text-align: center;
}

.more-about h2{
    color: var(--bio-color);
    background-color: var( --bg-color);
    max-width: 90%;
    padding: 20px 30px;
    box-shadow: 0 0 20px 3px var(--bg-color);
    border-radius: 50px;
    margin-bottom: var(--bottom-margin);
    text-align: center;
    display: inline-block;
  
}

.more-about p{
    background-color: var(--bg-color);
    color: var(--bio-color-2);
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* End of More about */


/* Start of Skills section */

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skills-header{
    margin-bottom: 1rem;
}

.skills h2{
    color: var(--bio-color);
    background-color: var( --bg-color);
    max-width: 90%;
    padding: 20px 30px;
    box-shadow: 0 0 20px 3px var(--bg-color);
    border-radius: 50px;
    text-align: center;
    display: inline-block;

}

.skills-wrapper img{
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card{
    background-color: var(--bg-color) ;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}
/* End of Skills section */

/* Start of Projects section */

.projects{
    padding: 32px 0;
    margin-top: 2rem;
}

.project-image{
    width: 65%;
    height: 60%
}

.projects-box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.projects-title{
    color: var(--bio-color);
    background-color: var( --bg-color);
    width: fit-content;
    max-width: 90%;
    padding: 20px 30px;
    box-shadow: 0 0 20px 3px var(--bg-color);
    border-radius: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: var(--bottom-margin);
    
   
}

.project-box{
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-box p{
    padding: 0.4rem;
}

.project-title{
    color: var(--primary-color);
    margin-bottom: var(--bottom-margin);
}

.project-details{
    color: var(--bio-color-2);
    margin-bottom: var(--bottom-margin);
}

.project-card{
    background-color: var(--bg-color);
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

/* End of Projects section */

/* Start of contact section */

.contact {
    margin-top: 2rem;
    text-align: center;
}

.contact h2 {
    color: var(--bio-color);
    background-color: var( --bg-color);
    max-width: 90%;
    padding: 20px 30px;
    box-shadow: 0 0 20px 3px var(--bg-color);
    border-radius: 50px;
    margin-bottom: var(--bottom-margin-2);
    display: inline-block;
}


.contact-form-box{       
    max-width: 40.75rem;        
    margin: 0 auto;    
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    background-color: var(--bg-color);
    box-shadow: 0 3px 10px var(--secondary-shadow);
    box-sizing: border-box;
}

.contact-form-box label {
    line-height: 2.7em;
    color: var(--primary-color);
}

.contact-form-box textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

.contact-form-box .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
}

.input-field::placeholder {
    padding: 0.5rem;
    color: var(--primary-color);
}

.submit-INFO {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #9f1010;
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    font-size: 1rem;
    transition: var(--transition);
}

.submit-INFO:hover {
    background-color: var(--secondary-color);
    border: 2px solid var(--bolder-color);
    cursor: pointer;
}

/* End of contact section */

/* Start of social accounts */

.socials{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0.5%;
    bottom: 50%;
}

.social-logos{
    width: 3rem;
    height: 3rem;
}

footer{
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: var(--primary-color);
    
}

.copy{
    background-color: var(--bg-color);
    padding: 3px 3px;
    box-shadow: 0 0 20px 3px var(--bg-color);
    border-radius: 50px;
    margin-bottom: var(--bottom-margin-2);
    max-width: 90%;
    display: inline-block;
}

footer img{
    align-items: center;
    background-color: transparent;
    gap: 20px;
    width: 3rem; 
}

/* End of social accounts */


/* Start of scroll to up */

.go-up{
    background-color: var(--bg-color);
    padding: 3px 3px 3px 3px;
    margin: 10px 20px 10px 20px;
    box-shadow: 0 0 20px 3px var(--bg-color);
    border-radius: 50px;
    position: fixed;  
    right: 5px;
    bottom: 36px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease;
}

.up-arrow{
    width: 3rem;
    height: 3rem;
}

/* End of scroll to up */

/* Start of Custom Scroll Bar */

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--bg-color);
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 4px var(--primary-shadow);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--secondary-color);
}

/* End of Custom Scroll Bar */



/* Start of Media Query responsive website for 768px screens */

@media screen and (max-width: 768px) {

    /* Changes reflects on screen with a width of 768px and below */


    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 80px;
        width: 100%;
        padding: 1rem;
        background-image: url("Imgs/Black-Red.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    nav ul{
        position: fixed;
        background-image: url("Imgs/Black-Red.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: column;
        margin-top: 0;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li{
        margin: 8px;
    }

    nav h1{
        font-size: 1.6rem;
    }

    .burger-menu{
        display: block;
    }

    nav ul.display{
        transform: translateX(0);
    }

    .hero{
        margin-top: 80px;
        flex-direction: column;
        text-align: center;
    }

    .hero img{
        margin-top: 25px;
        height: 21.5rem;
        width: 21.5rem;
    }

    .bio{
        text-align: center;
        margin-top: 1rem;
        width: 20.5rem;
    }

    .more-about{
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        width: 90%;
        text-align: center;
    }

    .more-about h2{
        text-align: center;
    }

    .more-about p{
        text-align: center;
    }

    .icon{
       width: 5.875rem;
       height: 5.25rem; 
    }

    .project-box {
        width: 45%;
    }
    
    .contact-form-box{
        max-width: 23.75rem;
    }
}

/* Start of Media Query responsive website for 480px screens */

@media  screen and (max-width: 480px) {

    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85.67px;
    }

    nav ul{
         margin-top: 0;
    }

    nav h1{
        font-size: 1.4rem;
    }

    .hero{
        margin-top: 80px;
    }

    .hero img{
        margin-top: 25px;
        height: 17rem;
        width: 17rem;
    }

    .bio{
        width: 18.3rem;
    }

    .projects-box{
       flex-direction: column;
    }

    .project-box {
        width: 80%;
    }

    .contact-form-box{
        max-width: 17.75rem;
    }
}

/* Start of Media Query responsive website for 390px screens */

@media  screen and (max-width: 390px) {

    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 85.67px;
    }

    nav ul{
         margin-top: 0;
    }

    nav h1{
        font-size: 1.5rem;
    }

    .hero{
        margin-top: 80px;
    }

    .hero img{
        margin-top: 25px;
        height: 17rem;
        width: 17rem;
    }

    .bio{
        width: 18.3rem;
    }

    .icon {
        width: 4.5rem;
        height: auto;
    }

    .projects-box{
       flex-direction: column;
    }

    .project-box {
        width: 80%;
        padding: 0.5rem;
    }

    .project-card {
        padding: 15px;
    }

    .contact-form-box{
        max-width: 17.75rem;
    }
}

/* Start of Media Query responsive website for 360px screens */

@media  screen and (max-width: 360px) {

    nav h1{
        font-size: 1.2rem;
    }

     .projects-box{
       flex-direction: column;
    }

     .project-box {
        width: 80%;
        padding: 0.5rem;
    }

    .project-card {
        padding: 15px;
    }

    .icon{
        width: 4rem;
        height: 4.25rem; 
    }
}






    



